$primary: #cba92d;
$text: #89541a;
$input-color: #89541a;
$input-hover-color: #cba92d;

@charset "utf-8";
@import '../node_modules/bulma';

html,
body {
  font-size: 20px;
}

h2 {
  background-image: url('https://i.imgur.com/14UnWkP.jpg');
  background-size: cover;
  font-size: 40px;
  color: white;
}


h3 {
  color: #cba92d;
  font-size: 30px;
  border-bottom: 2px solid #cba92d;
}

.strikethrough:checked + span {
  text-decoration: line-through;
}

.block:not(:last-child) {
  margin-bottom: 1.5rem;
}

input[type='checkbox'] {
  margin-right: .5em
  } 





   
