// css style goes here
@charset "utf-8";
@import '../node_modules/bulma';

html,
body {
    font-size: 20px;
}

h2 {
  font-size: 30px;
}

.strikethrough:checked + span {
  text-decoration: line-through;
}

.block:not(:last-child) {
  margin-bottom: 1.5rem;
}

input[type='checkbox'] {
  margin-right: .5em
  } 
   
